.content {
    padding:20px;
}

.header {
  padding: 60px;
  text-align: center;
  background-image:  #df5de8;
  color: #ffb8c4;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: #df5de8;
}

.topnav a {
  float: left;
  color: #ffb8c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #df5de8;
  color: #ffb8c4;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}