hmtl, body{
	font-family: Helvetica, Verdana, Arial, "futuristic";
	padding: 25px;
	font-size: 120%;
	background-image: url("../images/aclouds.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;

}
 
.main{
	font-family: Helvetica, Verdana, Arial, "cursive";
	border-style: solid;
	margin: 200px;
	margin-bottom: 10px;
	margin-top: 10px;

}

