html, body{
	padding: 25px;
	font-size: 120%;
	width: 100%;
	background-image: url("../images/aclouds.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

 
.main{
	border-style: solid;
	margin: 200px;
	margin-bottom: 10px;
	margin-top: 10px;

}

h1,h2{
	color: green;
	font-size: 50px;
	text-transform: uppercase;
}
h3,h4{
	color: green;
	font-size: 50px;
	text-transform: uppercase; 
	letter-spacing: 10px;
}
